/* This file contains design tokens used in core Gleam projects */
:root {
  /* Greys */
  --col-blacker: #151515;
  --col-black: #1e1e1e;
  --col-charcoal: #2f2f2f;
  --col-underwater-blue-dark: #202431;
  --col-underwater-blue: #292d3e;
  --col-aged-plastic-yellow-darker: #b1a894;
  --col-aged-plastic-yellow-dark: #e3d8be;
  --col-aged-plastic-yellow: #fffbe8;
  --col-off-white: #f5f5f5;
  --col-white: #fefefc;

  /* Colors */
  --col-unexpected-aubergine: #584355;
  --col-faff-pink: #ffaff3;
  --col-unnamed-blue: #a6f0fc;
  --col-menthol: #c8ffa7;
  --col-caramel: #ffd596;
  --col-deep-saffron: #ff9d35;
  --col-tomato: #ff6262;

  /* Semantic colors */
  --brand-primary: var(--col-faff-pink);
  --brand-primary-dim: var(--col-unexpected-aubergine);
  --brand-success: var(--col-menthol);
  --brand-warning: var(--col-caramel);
  --brand-error: var(--col-tomato);

  /* Light theme */
  --light-theme-background: var(--col-white);
  --light-theme-background-dim: var(--col-grey-100);
  --light-theme-text: var(--col-black);
  --light-theme-text-secondary: var(--col-charcoal);
  --light-theme-code: var(--col-black);

  /* Dark theme */
  --dark-theme-background: var(--col-underwater-blue);
  --dark-theme-background-dim: var(--col-underwater-blue-dark);
  --dark-theme-background-alt: var(--col-charcoal);
  --dark-theme-text: var(--col-aged-plastic-yellow-dark);
  --dark-theme-text-secondary: var(--col-aged-plastic-yellow-darker);
  --dark-theme-code: var(--col-deep-saffron);
}
