@font-face {
  font-family: "Lexend";
  font-display: swap;
  font-weight: 400;
  src: url("https://gleam.run/fonts/Lexend.woff2") format("woff2");
}

@font-face {
  font-family: "Outfit";
  font-display: swap;
  src: url("https://gleam.run/fonts/Outfit.woff") format("woff");
}

:root {
  --font-family-normal: "Outfit", sans-serif;
  --font-family-title: "Lexend", sans-serif;

  --font-size-normal: 16px;
  --font-size-small: 14px;

  --content-width: 960px;
  --gap: 1rem;
  --gap-s: calc(var(--gap) * 0.5);
  --gap-l: calc(var(--gap) * 2);
}

html.theme-light {
  --color-background: var(--light-theme-background);
  --color-link: unset;
  --color-link-decoration: var(--brand-primary);
  --color-link-secondary: var(--light-theme-text-secondary);
  --color-link-secondary-decoration: var(--color-link-decoration);
  --color-header-background: var(--brand-primary);
  --color-header-input-background: var(--light-theme-background);
  --color-header-link: var(--light-theme-text);
  --color-header-text: var(--light-theme-text);
  --color-text: var(--light-theme-text);
  --color-text-secondary: var(--light-theme-text-secondary);
  color-scheme: light;
}

html.theme-dark {
  --color-background: var(--dark-theme-background);
  --color-link: var(--brand-primary);
  --color-link-decoration: var(--brand-primary-dim);
  --color-link-secondary: var(--dark-theme-text);
  --color-link-secondary-decoration: var(--dark-theme-text-secondary);
  --color-header-background: var(--brand-primary);
  --color-header-input-background: var(--light-theme-background);
  --color-header-link: var(--col-black);
  --color-header-text: var(--dark-theme-background);
  --color-text: var(--dark-theme-text);
  --color-text-secondary: var(--dark-theme-text-secondary);
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  font-family: var(--font-family-normal);
  font-size: var(--font-size);
  font-size: var(--font-size-normal);
  color: var(--color-text);
}

a,
a:visited {
  color: var(--color-link);
  text-decoration-color: var(--color-link-decoration);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-title);
  font-weight: normal;
}

.content {
  max-width: var(--content-width);
  padding: var(--gap);
  margin: 0 auto;
}

.site-header {
  color-scheme: light;
  width: 100%;
  background-color: var(--color-header-background);
  color: var(--color-header-text);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1)
}

.site-header a {
  color: var(--color-header-link);
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.site-header a img {
  display: inline-block;
  height: 1.3em;
  margin-right: 0.25em;
}

.site-header nav {
  display: flex;
  gap: var(--gap-s);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.site-header .nav-right {
  display: flex;
  gap: var(--gap);
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

html.theme-dark .theme-button.-dark {
  display: none;
}

html.theme-light .theme-button.-light {
  display: none;
}

.theme-button {
  appearance: none;
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
  color: inherit;
  display: flex;
  gap: 0.25em;
  font-size: var(--font-size-normal);
}

.theme-button svg {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  width: 1em;
}

.search-form {
  display: flex;
}

.search-form input[type="search"] {
  background: var(--color-header-input-background);
  height: 30px;
  border: none;
  flex-grow: 1;
  padding: 0 var(--gap-s);
  border-radius: 3px;
  padding-left: var(--gap);
  border-radius: 100px 0 0 100px;
}

.search-form input[type="submit"] {
  background: var(--color-header-input-background);
  border: none;
  border-radius: 0 100px 100px 0;
  height: 30px;
  padding: 0 var(--gap-s);
  appearance: none;
  -webkit-appearance: none;
}

.search-form {
  flex-grow: 1;
}

.site-header h1 {
  margin: 0;
}

@media (min-width: 600px) {
  .search-form {
    flex-grow: initial;
  }

  .search-form input[type="search"] {
    flex-grow: initial;
  }

  .site-header a {
    margin: 0;
  }

  .site-header h1 {
    display: inline-block;
  }

  .site-header nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.site-footer {
  width: 100%;
  padding: var(--gap);
  text-align: center;
}

.package-list {
  padding: 0;
  margin: 0;
}

.package-list li {
  list-style: none;
  margin-top: var(--gap);
  margin-bottom: var(--gap-l);
}

.package-list-message {
  margin: 0;
}

.package-date-time {
  float: right;
  color: var(--color-text-secondary);
  margin-top: 0.3rem;
}

.package-description {
  margin-top: var(--gap);
}

.package-links {
  margin-top: var(--gap);
}

.package-links ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.package-links li {
  margin: 0;
}

.package-links a {
  margin-right: var(--gap);
  color: var(--color-link-secondary);
  text-decoration-color: var(--color-link-secondary-decoration);
  font-size: var(--font-size-small);
}

.package-list h2 {
  margin: 0 var(--gap) var(--gap-s) 0;
}
