@font-face {
  font-family: 'Lexend';
  font-display: swap;
  font-weight: 400;
  src: url('https://gleam.run/fonts/Lexend.woff2') format('woff2');
}

@font-face {
  font-family: 'Outfit';
  font-display: swap;
  src: url('https://gleam.run/fonts/Outfit.woff') format('woff');
}

:root {
  --font-family-normal: 'Outfit', sans-serif;
  --font-family-title: 'Lexend', sans-serif;

  --color-charcoal: #2f2f2f;
  --color-graphite: #545454;
  --color-black: #1e1e1e;
  --color-blacker: #151515;
  --color-white: #fefefc;
  --color-faff-pink: #ffaff3;
  --color-aged-plastic-yellow: #fffbe8;
  --color-unnamed-blue: #a6f0fc;
  --color-unexpected-aubergine: #584355;

  --font-size-normal: 18px;

  --content-width: 960px;
  --gap: 1rem;
  --gap-s: calc(var(--gap) * 0.5);
  --gap-l: calc(var(--gap) * 2);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: var(--color-white);
  font-family: var(--font-family-normal);
  background-color: var(--color-white);
  font-size: var(--font-size);
}

a,
a:visited {
  color: unset;
  text-decoration-color: var(--color-faff-pink);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
  font-weight: normal;
}

.content {
  max-width: var(--content-width);
  padding: var(--gap);
  margin: 0 auto;
}

.site-header {
  width: 100%;
  background-color: var(--color-faff-pink);
}

.site-header a {
  color: black;
}

.site-header h1 {
  margin: 0;
}

.site-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  display: flex;
}

.search-form input[type=search] {
  height: 30px;
  border: none;
  padding: 0 var(--gap-s);
  border-radius: 3px;
  padding-left: var(--gap);
  border-radius: 100px 0 0 100px;
}

.search-form input[type=submit] {
  background: var(--color-white);
  border: none;
  border-radius: 0 100px 100px 0;
  height: 30px;
  padding: 0 var(--gap-s);
  margin-left: 1px;
  -webkit-appearance: none;
}

.site-footer {
  width: 100%;
  padding: var(--gap);
  text-align: center;
}

.package-list {
  padding: 0;
  margin: 0;
}

.package-list li {
  list-style: none;
  margin-top: var(--gap);
  margin-bottom: var(--gap-l);
}

.package-date-time {
  float: right;
  color: var(--color-graphite);
  margin-top: 0.3rem;
}

.package-links {
  margin-top: var(--gap);
}

.package-list h2 {
  margin: 0 var(--gap) var(--gap-s) 0;
}

.package-list p {
  margin: 0;
}
